*{
	padding: 0;
	border: 0;
	margin: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit}

input::-ms-clear{display: none}
button{cursor: pointer;}
button::-moz-focus-inner {padding: 0;border: 0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size: inherit;font-weight: 400;}

@font-face{
	font-family: Outfit;
	src: url("../fonts/Outfit-VariableFont_wght.ttf");
}

@media screen and (min-width: 1440px){
	body{
	text-align: center;
	width: 1440px;
	height: 800px;
	font-family: Outfit;
	font-size: 20px;
	background-color: hsl(212, 45%, 89%);
}

	.main-block{
		text-align: center;
		display: inline-block;
		border-radius: 15px;
		background-color: hsl(0, 0%, 100%);
		width: 300px;
		height: 460px;
		position: absolute;
	    top: 50%;
	    left: 50%;
	    transform: translate(-50%, -50%);
	}

	.text1{
		font-weight: 700;
		color: hsl(218, 44%, 22%);
		margin-top: 23px;
		line-height: 23px;
	}

	.text2{
		font-size: 14px;
		font-weight: 400;
		margin: 15px 0 0 0;
		color: hsl(220, 15%, 55%);
		line-height: 17px;
	}

	.image{
		width: 270px;
		height: 280px;
		border-radius: 10px;
		margin-top: 13px;
	}

}

@media screen and (min-width: 375px){
	body{
	text-align: center;
	min-width: 375px;
	min-height: 800px;
	font-family: Outfit;
	font-size: 20px;
	background-color: hsl(212, 45%, 89%);
}

	.main-block{
		text-align: center;
		display: inline-block;
		border-radius: 15px;
		background-color: hsl(0, 0%, 100%);
		width: 300px;
		height: 460px;
		position: absolute;
	    top: 50%;
	    left: 50%;
	    transform: translate(-50%, -50%);
	}

	.text1{
		font-weight: 700;
		color: hsl(218, 44%, 22%);
		margin-top: 23px;
		line-height: 23px;
	}

	.text2{
		font-size: 14px;
		font-weight: 400;
		margin: 15px 0 0 0;
		color: hsl(220, 15%, 55%);
		line-height: 17px;
	}

	.image{
		width: 270px;
		height: 280px;
		border-radius: 10px;
		margin-top: 13px;
	}

}


